<body style="background-color: #141414; color: white;">
  <div style="top:40%;  left: 50%;  transform: translate3d(-50%,-50%, 0); position: absolute;">
    <div>
      <p class="boldText" style="display: block; color: #9dffdb">SIGN UP</p>
      <div style="display: block;">
        <div style="display: inline-flex; background: #262626; padding: 1vw; border-radius: 0.6vw; color: white;">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
